:root {
  --background: #fff;
  --textColor: #000;
}

@theme inline {
  --color-background: var(--background);
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: Arial, sans-serif;
  padding: 0;
}
