.imageSearch {
    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: calc(100vh - 20px);
        padding: 0 80px;

        &_shifted {
            height: auto;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

    &__search {
        height: 340px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &_shifted {
            height: 112px;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }

    &__searchContainer {
        display: flex;
        justify-content: space-between;
        width: 512px;
        margin-top: 40px;
        margin-bottom: 16px;

        &_shifted {
            margin-bottom: 46px;
        }
    }

    &__searchInput {
        position: relative;
        width: 420px;
        height: 48px;
    }

    &__searchIcon {
        position: absolute;
        left: 10px;
        top: 13px;
    }

    &__input {
        width: 83%;
        border: 0;
        border-radius: 12px;
        padding: 14.5px 36px;
        background-color: #E6E6E6;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    &__clearSearchIcon {
        position: absolute;
        padding: 0;
        right: 10px;
        top: 13px;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;

        &:focus {
            outline: none;
        }

        &:hover {
            opacity: 0.9;
        }
    }

    &__searchError {
        color: #787878;
        font-size: 16px;

    }

    &__images {
        display: flex;
        max-width: 1400px;
        min-height: 710px;
        align-items: flex-start;
    }

    &__imagesContainer {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        flex: 1 1;
    }

    &__image {
        margin: 4px 8px 4px 0;

        img {
            border-radius: 4px;
        }
    }

    &__submitButtonContainer {
        width: 84px;
        height: 48px;
    }

    &__submitButton {
        border-radius: 12px;
        padding: 14px 16px;
        background-color: #EB0C0C;
        color: white;
        border: 0;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:hover {
            background-color: #C30000;
        }
    }
}

@media (max-width: 390px) {
    .imageSearch {
        &__wrapper {
            padding: 0 16px;

            &_shifted {
                padding: 0 16px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        &__searchContainer {
            display: flex;
            width: 358px;
            justify-content: space-between;

            &_shifted {
                margin-bottom: 20px;
            }
        }

        &__searchInput {
            width: 266px;
        }

        &__input {
            width: 76%;
        }

        &__searchError {
           margin-top: 20px;
        }

        &__images {
            display: flex;
            align-self: flex-start;
            flex-wrap: wrap;
            width: 390px;
            min-height: 100vh;
        }

        &__imagesContainer {
            width: 114px;
            height: 114px;
        }

        &__image {
            img {
                width: 114px;
                height: 114px;
            }
        }

    }
}

